{% extends 'movies/base.html' %}
{% block title %} Edit Movie {% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
<h1> Edit Movie</h1>
    <form method="post" action="{% url 'update-movie' id=id %}" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{ form.title|as_crispy_field }}
            {{ form.desc| as_crispy_field}}
            {{ form.genre|as_crispy_field }}
            {{ form.year|as_crispy_field }}
            {{ form.cover|as_crispy_field }}
        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button type="button " class="btn btn-primary btn-lg">Edit</button>
        </div>
    </form>
{% endblock content %}