{% extends 'movies/base.html' %}
{% block title %} Home {% endblock title %}
{% block content %}
<h1>MovieRama</h1>

<ul class="nav justify-content-end">
    {% if user.is_authenticated %}
       <li class="nav-item ">
          <a class="nav-link" href="{% url 'new-movie' %}">New Movie</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
    {% else %}
 <li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">Login</a>
  </li>
    <li class="nav-item">
     <a class="nav-link" href="{% url 'signup' %}">Signup</a>
    </li>
    {% endif %}
</ul>

<ul class="nav nav-tabs">
  <li class="nav-item">
  <a class="nav-link" href="{% url 'home' %}?filter=published_date">Sort By Published date</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}?filter=likes">Sort by likes</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="{% url 'home' %}?filter=likes">Sort by dislikes</a>
  </li>
    {% if user.is_authenticated %}
          <li class="nav-item">
                 <a class="nav-link" href="{% url 'home' %}?filter=by_user">Your Movies</a>
          </li>
     {% endif %}
</ul>



<div class="container">
  <div class="row mt-4">
      {% for movie,can_like in data %}
      <div class="col-sm-3">
             <div class="card" style="width: 18rem;">
                 {% if movie.cover %}
                <img class="card-img-top" src="{{movie.cover.url}}" alt="{{movie.title}}">
                 {% else %}
                     {% load static %}
                  <img class="card-img-top" src="{% static 'images/missing.jpeg' %}" alt="missing cover">
                 {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{movie.title}}</h5>
                    <h6 class="card-subtitle">{{movie.author.username|title}} -  {{movie.created_date|timesince}} ago</h6>
                    <p class="card-text">{{movie.desc}}</p>
                    <p class="card-text"><strong>Released</strong>: {{movie.year}}</p>
                    <p class="card-tsext"><strong>Liked:</strong> {{movie.total_likes}}</p>
                    <p class="card-text"><strong>Dislikes:</strong>{{movie.total_dislikes}}</p>

                    {% if user.is_authenticated %}
                    <a href="{% url 'update-movie' id=movie.id %}" class="card-subtitle btn btn-warning">Edit</a>
                    <a href="{% url 'delete-movie' id=movie.id %}" class="card-subtitle btn btn-warning">Delete</a>
                    {% if can_like %}
                      <form method="post" action="{% url 'like-movie' id=movie.id %}">
                          {% csrf_token %}
                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button type="button " class="btn btn-primary btn-lg">
                                      {% if can_like.0  %}
                                        Like it <i class="bi bi-hand-thumbs-up"></i>
                                      {% else %}
                                             Liked it
                                      {% endif %}
                                </button>
                                    </div>
                      </form>
                    <form method="post" action="{% url 'dislike-movie' id=movie.id %}">
                          {% csrf_token %}
                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button type="button " class="btn btn-primary btn-lg">
                                     {% if can_like.1  %}
                                    Dislike it<i class="bi bi-hand-thumbs-down"></i>
                                     {% else %}
                                     Disliked
                                    {% endif %}
                                </button>
                                    </div></form>
                    {% endif %}

                    {% endif %}
                </div>
            </div>
      </div>
      {% endfor %}

</div>
  </div>
</div>

{% endblock content %}