<ul class="nav nav-tabs">
      <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
    </li>
  <li class="nav-item">
  <a class="nav-link" href="{% url 'home' %}?filter=released_date">Sort by Released date</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}?filter=likes">Sort by likes</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="{% url 'home' %}?filter=dislikes">Sort by dislikes</a>
  </li>
    {% if user.is_authenticated %}
          <li class="nav-item">
                 <a class="nav-link" href="{% url 'home' %}?filter=by_current_user">Your Movies</a>
          </li>
     {% endif %}
</ul>
